body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    outline: none;
    text-decoration: none;
    color: rgb(65, 61, 61);
    font-size: 3rem;
    font-weight: 600;
}

.main{
    background-color:rgb(255, 255, 255);
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 4rem;
}

.table-div{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearDiv{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

button{
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(66, 64, 64);
    color: rgb(214, 203, 203);
}

.table{
    display: grid;
    grid-template-columns: repeat(3,33.333%);
    grid-template-rows: repeat(3,33.333%);
    background-color: rgb(255, 255, 255);
    width:30vw;
    height:30vw;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 2rem;
}
.modal{
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 0px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 5rem;
    background-color:rgb(255, 255, 255);
}

.resultDisplay{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-radius: 1rem;
}